:root{
    --bg: #141414;
    --color: #d8d8d8;
    --link: #00aa88;
    --linkhov: #00eeaa;
    --highlight: #d8d8d8;
    --border: #464646;
    --contrast: black;
}

.light{
    --bg: #c3c3c3;
    --color: #101010;
    --link: #54a595;
    --linkhov: #006f4f;
    --highlight: #262626;
    --border: #585858;
    --contrast: #dddddd;
}

::-webkit-scrollbar {
    background-color: var(--bg);
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color);
}

::selection {
    background: var(--highlight);
    color: var(--bg);
}

html {
    background: black;
}

body {
    font-family: lemon;
    font-size: 18px;
    color: var(--color);
    height: 100%;
    margin: 0;
}

.access {
    font-family: helvetica, verdana, tahoma;
}

#s-m-t-tooltip{
	/* basic */
	max-width: 250px;
	z-index: 999999 !important;
	margin: 24px 14px 7px 12px;
	/* style and design */
    color: var(--bg);
    font-family: hitme12;
    font-size: 1.4em;
    background: var(--color);
}

/******* LAYOUT *******/

.containment {
    display: grid;
    grid-template-rows: [bar1] 1fr [bar2] 5fr [bar3] 7.5em [bar4];
    grid-template-columns: [vert1] 1fr [vert2] 3fr [vert3];
    grid-template-areas: 
        "side nav"
        "side main"
        "end end";
    
    height: 100vh;
}

.sidebar {
    grid-area: side;
    background: var(--bg);
    border-right: 1px solid var(--border);
}

.stuff {
    grid-row-start: bar1;
    grid-row-end: bar3;
    background-image: url(bg/molchatscreen.JPG);
    background-size: cover;
    overflow: scroll;
}

nav {
    grid-area: nav;
}

main {
    max-width: 1000px;
    padding: 20px 0 0;
    margin: 40px;
    clear: both;
}

.end {
    grid-area: end;
    background: var(--bg);
    border-top: 1px solid var(--border);
}

/******* GENERAL *******/

h1 {
    font-family: whiteonblack;
    font-size: 2.4em;
}

h2 {
    font-family: hitme01;
    margin: 10px auto;
}

h3 {
    font-family: hitme12;
    font-size: 1.6em;
    display: inline;
    background: var(--contrast);
}

hr {
    border-top: none;
    color: var(--border);
}

.hr2 {
    border-left: none;
    color: var(--border);
    margin: 2px;
}

section {
    margin: 10px;
}

img {
    filter: saturate(0) contrast(140%);
}

img:hover {
    filter: none;
}

button {
    background: var(--bg);
    font-family: dharma;
    font-size: 35px;
    color: var(--color);
    border: none;
}

button:hover {
    background: var(--color);
    color: var(--bg);
}

main p {
    background: var(--contrast);
}

p {
    letter-spacing: 1px;
}

a {
    background: var(--link);
    color: var(--contrast);
    text-decoration: none;
    text-shadow: none;
}

a:hover {
    background: var(--linkhov);
}

ul {
    list-style-type: none;
    font-size: 14px;
    line-height: 1.25em;
    margin: 0;
}

li {
    margin-left: -30px;
}

textarea {
    background: var(--contrast);
    color: var(--color);
    border: 1px solid var(--border);
}

/******* SPECIFICS *******/

#mobile {
    display: none;
}

#statuscafe-username {
    color: var(--highlight);
    font-style: italic;
}

#statuscafe-username a {
    background: none;
    color: var(--link);
}

#statuscafe-username a:hover {
    color: var(--linkhov);
}

#statuscafe-content {
    text-decoration: dotted underline;
}

.theme-switcher {
    float: left;
}

.directory {
    display: flex;
    position: fixed;
    right: 0;
}

.links {
    width: 120px;
    padding: 8px;
    background: var(--bg);
}

.links a {
    background: none;
    font-size: 20px;
    color: var(--link);
}

.links a:hover {
    background: var(--linkhov);
    color: var(--bg);
}

main section {
    margin-bottom: 60px;
}

main section:last-child {
    margin-bottom: 8px;
}

#chat {
    position: fixed;
    right: 0px;
    bottom: 7.5em;
    width: 320px;
}

#showchat {
    padding: 1px 6px;
    background: url(bg/blackgridpaper.jpg);
    background-position: 1px -6px;
}

#showchat:hover {
    color: var(--linkhov);
}

#cbox {
    padding: 6px;
    background: url(bg/blackgridpaper.jpg);
    transition: 0.4s ease;
}

.end a {
    background: none;
}

.tracks {
    display: flex;
}

.counter {
    display: flex;
    width: 500px;
}

.counter div {
    margin: auto 8px;
}

#lastupdate {
    background: linear-gradient(to top right, var(--contrast), var(--highlight));
}

.communities {
    display: flex;
}

.communities img {
    margin: auto 4px;
}

.ads {
    padding: 4px;
    margin: 0;
    border-top: 1px solid var(--border);
}

.buttons img {
    max-height: 31px;
}

.tiltleft:hover {
    transform: rotate(-10deg);
}

.tiltright:hover {
    transform: rotate(10deg);
}

/* music player start */
        
#musicplayer{
    width: 100%;
}
 
    .songtitle{
        padding:; /* padding around song title */
        border-bottom: ; /* border under song title */
        display: block;
        font-size: ;
    }
 
    .controls{
        font-size: 14px !important; /* size of controls */
        background-color: ; /* background color of controls */
        text-align: center;
        width: 100%;
    }
 
    .controls td{
        padding: 8px 2px 2px 2px; /* padding around controls */
    }
 
    .seeking{
        background-color: ; /* background color of seeking bar */
        display: flex;
        justify-content: space-evenly;
        padding: 4px; /* padding around seeking bar */
    }
 
    .current-time{
        padding-right: 8px;
        font-size: 16px;
    }
 
    .total-duration{
        padding-left: 8px;
        font-size: 16px;
    }
 
    i.fas.fa-pause, i.fas.fa-play, i.fas.fa-forward, i.fas.fa-backward{
        color: var(--link); /* color of controls */
    }

    i.fas:hover{
        cursor: pointer;
        color: var(--linkhov);
    }
    
    input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        background-color: transparent; /* background color of seeking bar - make the color same as .seeking background color */
        cursor: col-resize;
    }
    
    input[type=range]:focus {
        outline: none;
    }
    
    /* settings for chrome browsers */
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 1px; /* thickness of seeking track */
        cursor: col-resize;
        background: var(--link); /* color of seeking track */
    }
    
    input[type=range]::-webkit-slider-thumb {
        height: 6px; /* height of seeking square */
        width: 6px; /* width of seeking square */
        border-radius: 0px; /* change to 5px if you want a circle seeker */
        background: var(--link); /* color of seeker square */
        cursor: col-resize;
        -webkit-appearance: none;
        margin-top: -2.5px; 
    }

    input[type=range]::-webkit-slider-thumb:hover {
        background: var(--linkhov);
    }
    
    /* settings for firefox browsers */
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 1px; /* thickness of seeking track */
        cursor: col-resize;
        background: var(--link); /* color of seeking track */
    }
    
    input[type=range]::-moz-range-thumb {
        height: 6px; /* height of seeking square */
        width: 6px; /* width of seeking square */
        border-radius: 0px; /* change to 5px if you want a circle seeker */
        background: var(--link); /* color of seeker square */
        cursor: col-resize;
        border:none;
    }

    input[type=range]::-moz-slider-thumb:hover {
        background: var(--linkhov);
    }
        /* music player end */

@media only screen and (max-width: 1100px) {
    
    .tracks {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .containment {
        display: block;
    }
    
    #mobile {
        display: block;
    }
    
    .theme-switcher {
        position: relative;
    }
    
    .chat {
        flex-direction: column-reverse;
    }
    
    .tracks {
        display: none;
    }
}
